<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                About
                <span class="text-primary">Me</span>
            </h1>
           
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                   
                    <div class="subheading mb-3"></div>
                    <p>I am currently based in Manila, Philippines. My love for technology began at an early age. I have been in the industry for nearly 6 years, working with many professionals worldwide.</p>
                    <button type="button" class="btn btn-link"><a href="/Assets/images/Sirah's Resume.pdf">Resume</button></a>
                </div>
            </div>

           
        
        </div>
    </section>
    <hr class="m-0" />