<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Business Contacts</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the Contact Name"
                    name="name" 
                    value="<%= book.name %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="contactNumTextField">Contact Number </label>
                    <input type="text" class="form-control"
                    id="contactNumField"
                    placeholder="Enter the Contact Number"
                    name="contact number" 
                    value="<%= book.author %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="emailTextField">Email Address</label>
                    <input type="text" class="form-control"
                    id="emailTextField"
                    placeholder="Enter the Email Address"
                    name="emaila ddress" 
                    value="<%= book.published %>"
                    required>
                </div>

                

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/book-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>

