
   <div class="container-fluid p-0">

    <section class="resume-section" id="home">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Hi, I'm <br>
                <span class="text-primary">Sirah Elumba</span>
            </h1>
           
          
                <br> "Helping you build your online presence"</p>
      
            <a href="/about">Learn More</button></a>
                    </div>
    </section>
    <hr class="m-0" />
  
