
<section>
    <div class="container-fluid p-0">
        <div class="text-center mb-5">
           
            <h1 class="mb-0">My 
                <span class="text-primary">Projects</span>
                </h1>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3 mb-1-9">
                <div class="card-wrapper">
                    <div class="card-img"><img src="Assets/images/1.png" width="280" height="280" alt="..."></div>
                    <div class="card-body">
                        <div>
                            <h3 class="h5">Elderly Home</h3>
                            <p class="display-30">Web development for Sophies Naples</p>
                            <a href="https://sophiesnaples.com/" class="read-more">view project</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-1-9">
                <div class="card-wrapper">
                    <div class="card-img"><img src="Assets/images/2.png" width="280" height="280" alt="..."></div>
                    <div class="card-body">
                        <div>
                            <h3 class="h5">Juvenex Spa</h3>
                            <p class="display-30">Web Design for Juvenex Spa</p>
                            <a href="#!" class="read-more">view project</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-1-9">
                <div class="card-wrapper">
                    <div class="card-img"><img src="Assets/images/3.png" width="280" height="280" alt="..."></div>
                    <div class="card-body">
                        <div>
                            <h3 class="h5">Nature Blog</h3>
                            <p class="display-30">Web Design for a nature blogger</p>
                            <a href="#!" class="read-more">view project</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-1-9">
                <div class="card-wrapper">
                    <div class="card-img"><img src="Assets/images/4.png" width="280" height="280" alt="..."></div>
                    <div class="card-body">
                        <div>
                            <h3 class="h5">Pizzeria</h3>
                            <p class="display-30">Web developmment for a pizzeria restaurant</p>
                            <a href="#!" class="read-more">view project</a>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>